<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Albums Search</title>
</head>
<body>
    <h1 style="font-family:verdana; text-align:center;">Search for Music Albums</h1>

    <style>
    form {
    text-align: center;
    font-size: 150%;
    font-family: verdana;
    }
</style>
    <form action="/" method="post">
        <label for="artist">Artist Name: </label>
        <input type="text" name="artist" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>